// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Reset
@media (min-width: 1200px) {
    .container { width: 970px; }
}

// Mixins
@mixin page-content-container {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d3e0e9;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0 rgba(#65819C, 0.08);
}
@mixin switch-tabs {
    .panel-body {
        padding: 20px;

        .nav-tabs > li > a { color: #555; }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus { background-color: #fff; }

        .nav-tabs-justified > .active > a,
        .nav-tabs.nav-justified > .active > a,
        .nav-tabs-justified > .active > a:hover,
        .nav-tabs.nav-justified > .active > a:hover,
        .nav-tabs-justified > .active > a:focus,
        .nav-tabs.nav-justified > .active > a:focus { border-bottom-color: #fff; }
    }
}
@mixin head-operators {
    .head-button {
        float: left;
        margin-left: 10px;
        vertical-align: middle;
    }
}

@mixin navbar-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    margin-bottom: 20px;
    margin-top: 0px;
}

// Universal
body { font-family: "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif; }
label { font-weight: normal; }

// Common
@media (min-width: 768px) {
    #gotop { display: none; position: fixed; bottom: 20px; right: 20px; width: 38px; height: 38px; background-image: url(/images/gotop.png); background-position: 0 0; background-repeat: no-repeat; z-index: 99999; }
}
img.captcha { margin-bottom: 0px; margin-top: 10px; cursor: pointer; }
.btn-wider-look { padding-left: 35px; padding-right: 35px; }
.btn-widest-look { padding-left: 50px; padding-right: 50px; }
.favorite-add.btn-selected { background-color: #e6e6e6; }
.comment-vote.btn-selected { color: #999; }

.course-cover {
    padding-top: 20px; padding-bottom: 20px; text-align: center;
    .image-shadow { box-shadow: 0px 2px 5px 0px rgba(#000, 0.16), 0px 2px 10px 0px rgba(#000, 0.12); }
}
.course-intro {
    padding-top: 20px; padding-bottom: 20px;

    .name { font-size: 1.5em; font-weight: 700; color: #333; }
    .intro { margin-top: 0.8em; font-size: 1.1em; line-height: 1.8em; }
    .extra { margin-top: 0.8em; }
}
.course-detail {
    @include page-content-container;

    .head {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .body {
        padding: 0px 30px;
        font-size: 1.1em;
    }
}

.form-control { border: #ccc 1px solid; }
.form-horizontal {
    label { padding-top: 6px; text-align: right; }
    .input-tips { padding-top: 6px; color: #999; }
    .spacing { margin-bottom: 5px; }
}

// Header
.site-header {
    @include navbar-top;

    height: 50px;
    .navbar-header { float: left; }
    .navbar-right { float: right; height: 50px; margin: 0 -15px 0 0; }
    .navbar-nav > li { float: left; }
    .navbar-nav > li > a { padding-top: 14px; padding-bottom: 14px; }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        right: 0;
        left: auto;
        padding: 0px;
        min-width: auto;
        border: 1px solid #ccc;
        background-color: #fff;

        li a {
            border-bottom: 1px solid #eee;
            line-height: 2.4;

            .glyphicon { margin-right: 8px; }
        }
    }
}

// Sticky footer styles
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    border-top: #ddd 1px solid;
    box-shadow: -1px 1px 3px 0 rgba(0,34,77,.1);
    // Set the fixed height of the footer
    height: 60px;
    background-color: #fff;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: $text-color;

            a { color: inherit; }
        }
    }
}

// Welcome page
.welcome-page {
    margin-top: 6%;

    .head {
        margin: 30px auto;
        text-align: center;
    }
    .body {
        margin: 10px auto;
        background-color: #fff;
        border: 1px solid #d3e0e9;
        box-shadow: 0px 1px 2px 0px rgba(#65819C, 0.08);
    }
}

// Course show page
.course-show-page {
    .course-detail .body {
        dt {
            font-size: 1.2em;
        }
        dd {
            margin: 0.8em 0 2em;
        }

        .extra {
            margin: 1em auto 2em;
            text-align: center;
            a { margin: 0 5px; }
        }
    }
}

// Course chapters page
.course-chapters-page {
    .course-detail {
        .body {
            padding-bottom: 20px;
            .chapters {
                dt {
                    margin: 1em 0 0;
                    font-size: 1.2em;
                }
                dd {
                    margin: 0.5em auto;
                    line-height: 2em;
                    border-bottom: #eee 1px solid;
                    text-indent: 0.5em;
                    clear: both;
    
                    .label {
                        margin-right: 1em;
                        padding: 0.2em 0.5em;
                    }
                    span > i {
                        margin-right: 1em;
                        color: #ccc;
                        font-size: 0.5em;
                    }
                }
            }
        }
    }
}

// Course create and edit page
.course-create-page, .course-edit-page {
    .panel-body {
        .chapters {
            .form-control { width: 90%; }
            .button { width: 10%; padding-top: 6px; text-align: center; cursor: pointer; }
        }
    }
}

// Topic show page
.topic-show-page {
    // topic header
    .topic-header {
        @include navbar-top;

        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        background-color: #fff;
        z-index: 1040;

        .back {
            text-align: left;
            a { display: inline-block; cursor: pointer; }
        }
        .menu {
            text-align: right;
            a { display: inline-block; cursor: pointer; }
        }
        .logo { text-align: center; }
    }

    // popup modal containing chapters
    #modal-chapters {
        .modal-dialog {
            position: absolute;
            right: 0;
            margin: 0;
            width: 300px;
            .modal-content {
                border-radius: 0px;
                .modal-body {
                    padding: 0 15px;
                    dt { padding: 0.5em 0; font-size: 1.1em; }
                    dd { padding: 0.2em 0; border-bottom: #eee 1px solid; line-height: 1.4em; }
                }
            }
        }
    }

    // topic content
    .topic-detail {
        @include page-content-container;
        padding: 1em;

        .head {
            @include head-operators;

            border-bottom: #ddd 1px solid;
            line-height: 4em;

            h1 { font-size: 1.5em; }
        }

        .body {
            padding: 1em 0 2em;
            .content { font-size: 1.1em; }
        }

        .sns-share {
            padding: 3em 0 2em;
            text-align: center;

            .sns-component {
                display: inline-block; margin-right: 1em;
                .sns-label, .sns-icons, .favorite {
                    float: left;
                    height: 36px;
                    line-height: 36px;
                }
            }
        }

        .prev-and-next { margin: 1em auto 2em; }
    }

    // topic comments
    .topic-comments {
        @include page-content-container;
        padding: 1em 0 2em;

        .head {
            margin-bottom: 1em;
            #jump_to_editor { cursor: pointer; }
        }

        .body {
            .comments {
                .comment {
                    margin-top: 30px;
                    .media-heading {
                        @include head-operators;
                        button { outline: none; }
                    }
                }
                .reply { padding-top: 10px; border-top: #eee 1px solid; }
                #reply-editor { margin-top: 40px; }
                .create-reply {
                    margin-top: 10px;
                    .editor {
                        width: 100%;
                        min-height: 12em;
                        padding: 10px;
                        background-color: #fafafa;
                        border: 1px solid #d3e0e9;
                        box-shadow: 0px 1px 2px 0 rgba(#65819C, 0.08);
                        border-radius: 3px;
                        resize: vertical;
                        outline: none;
                    }
                    .submit-tip { margin-left: 10px; color: #999; }
                }

                .author {
                    .vline {
                        display: inline-block;
                        width: 3px;
                        height: 15px;
                        margin-right: 6px;
                        margin-bottom: -2px;
                        background-color: $brand-primary;
                    }
                }

                .comment-date { margin-top: 5px; color: #999; }
            }
        }
    }
}

// Login page
.login-page {
    .login-panel {
        @include switch-tabs;
        margin-top: 6%;

        .panel-body {
            .nav-tabs > li { width: 50%; text-align: center; }
            .tab-content { margin: 30px 0px 0px; }
        } 
    }
}

// User profile
.user-show-page {
    .user-info {
        .img-thumbnail {  margin-bottom: 0px; }
    }

    .user-tabs {
        @include switch-tabs;

        .tab-content {
            padding: 15px;

            .item-list {
                margin: 0;
                padding: 0;
    
                li {
                    margin: 0.5em auto;
                    padding: 0.5em 0;
                    list-style: none;
                    border-bottom: #eee 1px solid;
                }

                .empty {
                    margin: 2em auto;
                    text-align: center;
                    border-bottom: 0;
                }
            }
        }
    }
}

// User edit page
.user-edit-page {
    .panel-body .img-thumbnail,
    #avatar-field { cursor: pointer; }
}